@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

body {
  background-color: #14151a;
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

main {
  padding-bottom: 50px;
}

.btn-group {
  display: flex;
  justify-content: auto;
  flex-wrap: wrap;
}

.btn-group .crypto-btn, .btn-group .btn-interval {
  font-size: 0.8rem; /* Reduced font size */
  font-family: 'Montserrat', sans-serif;
  width: 26px;
  color: #ffffff;
  padding: 10px 4%; /* Reduced padding */
  background-color: #2d2f36;
  border: none;
  margin: 2px 0px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-group .crypto-btn.active, .btn-group .btn-interval.active {
  background-color: #ff5100; /* Changed to orange */
  color: #ffffff;
}

.btn-group .crypto-btn:hover, .btn-group .btn-interval:hover {
  background-color: #636262; /* Darker orange on hover */
  color: #ffffff;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 600px; /* Increased height for better layout */
  margin: 0 auto;
  background-color: #1e2025;
  padding: 20px;
  border-radius: 10px;
}

.btn-group-chart {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.chart-wrapper {
  width: 100%;
  height: calc(100% - 40px); /* Adjusted to fit the buttons and chart */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.info-container {
  background-color: #2d2f36;
  border-radius: 10px;
  padding: 20px;
}

footer {
  background-color: #1e2025;
  color: #e0e0e0;
}

footer .text-muted {
  color: #b3b3b3 !important;
}

@media (max-width: 576px) {
  body {
    font-size: 12px;
  }

  .btn-group .crypto-btn, .btn-group .btn-interval {
    font-size: 0.6rem; /* Reduced font size for smaller screens */
    padding: 6px 2px; /* Reduced padding for smaller screens */
  }
}
